<div class="max-w-prose p-4 m-auto">
  <header class="text-center">
    <h1 class="text-4xl font-bold text-slate-900 mb-1">🤼️ Gewichtsgevecht</h1>
    <h3 class="text-xl text-slate-500 italic mb-4">Laura vs Ronald</h3>
    <span>Twee zwaargewichten gaan de strijd aan! Wie bereikt als eerst zijn of haar streefgewicht?</span>
  </header>
  <main>
    <div>
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</div>
